<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Benchmark Home</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="dist/css/swiper.min.css">
    <link rel="stylesheet" href="style.css">

</head>
<body>
<aside id="1" class="lightbox">

    <input type="checkbox" class="state" id="lightbox-1"/>

    <div class="content">

        <div class="descriptionGroup">

            <div class="bn-lightbox">

            <div class="row bn">
                <div class="cell head three"><img src="img/Tigoune.png"></div>
                <div class="cell head three"><img src="img/movistar.png"></div>
                <div class="cell head three"><img src="img/claro.png"></div>
                <div class="cell head three"><img src="img/avantel.jpg"></div>
            </div>

            <div class="row bn">
                <div class="cell three bn">12 Beneficios</div>
                <div class="cell three">Napster y Movistar Video</div>
                <div class="cell three">Claro Música y Claro Vídeo</div>
            </div>

            <div class="row bn">
                <div class="cell three bn">Minutos Ilimitados a: </br><img src="img/co.svg"><img src="img/um.svg"><img src="img/ca.svg"><img src="img/pr.svg"></br>Desde 47.900</div>
                <div class="cell three">Minutos Ilimitados a: </br><img src="img/co.svg"><img src="img/um.svg"><img src="img/ca.svg"><img src="img/pr.svg"></br>Desde 114.900</div>
                <div class="cell three">No tienen este beneficio</div>
            </div>

            <div class="row bn">
                <div class="cell three bn">Habla sin saldo hasta entre 5 Tigos desde $72.900</div>
                <div class="cell three">5X1 Desde $74.900</div>
                <div class="cell three">No tienen este beneficio</div>
            </div>

            <div class="row bn footer">
                <div class="cell three bn"><img src="img/facebook.svg"><img src="img/whatsapp.svg"></br>Acceso ilimitado a Facebook y Whatsapp después de consumir los datos</div>
                <div class="cell three"><img src="img/facebook.svg"><img src="img/whatsapp.svg"><img src="img/twitter.svg"><img src="img/line.png"><img src="img/waze.png"></br>Acceso ilimitado después de
                    consumirse los datos Waze desde $83.900
                </div>
                <div class="cell three"><img src="img/facebook.svg"><img src="img/whatsapp.svg"><img src="img/twitter.svg"></br>Gratis que no gastan de los datos</div>
            </div>
            </div>

           <!--swiper-->

            <div class="wrapper-swiper-compare">

                <div class="swiper-container bn">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide" style="display: block" data-index="0" data-valor="une">
                            <div class="row bn">
                                <div class="cell head three"><img src="img/Tigoune.png"></div>
                            </div>

                            <div class="row bn">
                                <div class="cell three bn">13 Beneficios</div>
                            </div>

                            <div class="row bn">
                                <div class="cell three bn">Minutos Ilimitados a: </br><img src="img/co.svg"><img src="img/um.svg"><img src="img/ca.svg"><img src="img/pr.svg"></br>Desde 47.900</div>
                            </div>

                            <div class="row bn">
                                <div class="cell three bn">Habla sin saldo hasta entre 5 Tigos desde $70.900</div>
                            </div>

                            <div class="row bn footer">
                                <div class="cell three bn"><img src="img/facebook.svg"><img src="img/whatsapp.svg"></br>dsadsa</div>
                            </div>

                        </div>


                        <div class="swiper-slide" style="display: block" data-index="1" data-valor="claro">


                            <div class="row bn">

                                <div class="cell head three"><img src="img/movistar.png"></div>

                            </div>

                            <div class="row bn">

                                <div class="cell three bn">Napster y Movistar Video</div>

                            </div>

                            <div class="row bn">

                                <div class="cell three bn">Minutos Ilimitados a: </br><img src="img/co.svg"><img src="img/um.svg"><img src="img/ca.svg"><img src="img/pr.svg"></br>Desde 114.900</div>

                            </div>

                            <div class="row bn">

                                <div class="cell three bn">5X1 Desde $83.900</div>

                            </div>

                            <div class="row bn footer">

                                <div class="cell three bn"><img src="img/facebook.svg"><img src="img/whatsapp.svg"><img src="img/twitter.svg"><img src="img/line.png"><img src="img/waze.png"></br>Acceso ilimitado después de
                                    consumirse los datos Waze desde $83.900
                                </div>

                            </div>

                        </div>


                        <div class="swiper-slide" style="display: block" data-index="2" data-valor="movistar">

                            <div class="row bn">

                                <div class="cell head three"><img src="img/claro.png"></div>

                            </div>

                            <div class="row bn">
                                <div class="cell three bn">Descuentos hasta del 40% en Smartphones.</div>
                            </div>

                            <div class="row bn">
                                <div class="cell three bn">Aplica para: </div>
                            </div>

                            <div class="row bn">
                                <div class="cell three bn"> Activaciones en planes postpago, línea nueva, migraciones o portaciones.
• Promoción válida  hasta 20 de julio.</div>
                            </div>

                            <div class="row bn footer">
                                <div class="cell three bn"><img src="img/facebook.svg"><img src="img/whatsapp.svg"><img src="img/twitter.svg"></br>Gratis que no gastan de los datos</div>
                            </div>

                        </div>

                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>

            </div>



        </div>

        <div class="back">Volver</div>

    </div>

    <div class="backdrop backdropBack"></div>

</aside>


<div class="wrapper-plan"></div>

<div class="wrapper-compare">



</div>

<div class="wrapper-swiper-compare">

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide tigo" style="display: block" data-index="0" data-valor="une">


            </div>


            <div class="swiper-slide claro" style="display: block" data-index="1" data-valor="claro">


            </div>


            <div class="swiper-slide movistar" style="display: block" data-index="2" data-valor="movistar">


            </div>
            <div class="swiper-slide avantel" style="display: block" data-index="3" data-valor="avantel">


            </div>

        </div>

      </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

    </div>




<!--templates-->
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->

<script type="text/template" id="avantelTemplate">

    <div class="row">
        <div class="cell head three"><img src="img/avantel.jpg"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell three"><%= col1 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell three"><%= col2 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell three"><%= col3 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell three"><%= col4 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell three"><%= col5 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell three"><%= col6 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell three"><%= col7 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell three"><%= col8 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/promes.svg"></div>
        <div class="cell three"><%= col9 %></div>
    </div>

    <div class="row">

        <!--<div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>
        </div>-->

    </div>

</script>

<script type="text/template" id="claroTemplate">

    <div class="row">
        <div class="cell head three"><img src="img/claro.png"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell three"><%= col1 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell three"><%= col2 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell three"><%= col3 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell three"><%= col4 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell three"><%= col5 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell three"><%= col6 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell three"><%= col7 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell three"><%= col8 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/promes.svg"></div>
        <div class="cell three"><%= col9 %></div>
    </div>

    <div class="row">

        <!--<div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>
        </div>-->

    </div>

</script>

<script type="text/template" id="movistarTemplate">

    <div class="row">
        <div class="cell head three"><img src="img/movistar.png"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell three"><%= col1 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell three"><%= col2 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell three"><%= col3 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell three"><%= col4 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell three"><%= col5 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell three"><%= col6 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell three"><%= col7 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell three"><%= col8 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/promes.svg"></div>
        <div class="cell three"><%= col9 %></div>
    </div>

    <div class="row">

        <div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>

        </div>



        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img src="https://www.tigounetrainers.com/wp-content/uploads/2017/07/Benchmark-pospago.png" width="100%">
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="tigoTemplate">

    <div class="row">
        <div class="cell head three"><img src="img/Tigoune.png"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell three"><%= col1 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell three"><%= col2 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell three"><%= col3 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell three"><%= col4 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell three"><%= col5 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell three"><%= col6 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell three"><%= col7 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell three"><%= col8 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/promes.svg"></div>
        <div class="cell three"><%= col9 %></div>
    </div>

    <div class="row">

        <div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>

        </div>



        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img src="https://www.tigounetrainers.com/wp-content/uploads/2017/07/Benchmark-pospago.png" width="100%">
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="table-4col">


    <div class="row">
        <div class="cell-type head"></div>
        <div class="cell head three"><img src="img/Tigoune.png"></div>
        <div class="cell head three"><img src="img/claro.png"></div>
        <div class="cell head three"><img src="img/movistar.png"></div>
        <div class="cell head three"><img src="img/avantel.jpg"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell three"><%= col1 %></div>
        <div class="cell three"><%= col11 %></div>
        <div class="cell three"><%= col12 %></div>
        <div class="cell three"><%= col13 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell three"><%= col2 %></div>
        <div class="cell three"><%= col21 %></div>
        <div class="cell three"><%= col22 %></div>
        <div class="cell three"><%= col23 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell three"><%= col3 %></div>
        <div class="cell three"><%= col31 %></div>
        <div class="cell three"><%= col32 %></div>
        <div class="cell three"><%= col33 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell three"><%= col4 %></div>
        <div class="cell three"><%= col41 %></div>
        <div class="cell three"><%= col42 %></div>
        <div class="cell three"><%= col43 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell three"><%= col5 %></div>
        <div class="cell three"><%= col51 %></div>
        <div class="cell three"><%= col52 %></div>
        <div class="cell three"><%= col53 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell three"><%= col6 %></div>
        <div class="cell three"><%= col61 %></div>
        <div class="cell three"><%= col62 %></div>
        <div class="cell three"><%= col63 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell three"><%= col7 %></div>
        <div class="cell three"><%= col71 %></div>
        <div class="cell three"><%= col72 %></div>
        <div class="cell three"><%= col73 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell three"><%= col8 %></div>
        <div class="cell three"><%= col81 %></div>
        <div class="cell three"><%= col82 %></div>
        <div class="cell three"><%= col83 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/promes.svg"></div>
        <div class="cell three"><%= col9 %></div>
        <div class="cell three"><%= col91 %></div>
        <div class="cell three"><%= col92 %></div>
        <div class="cell three"><%= col93 %></div>
    </div>

    <div class="row">

        <div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>

        </div>



        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img src="https://www.tigounetrainers.com/wp-content/uploads/2017/07/Benchmark-pospago.png" width="100%">
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="table-3col">


    <div class="row">
        <div class="cell-type head"></div>
        <div class="cell head three"><img src="img/Tigoune.png"></div>
        <div class="cell head three"><img src="img/claro.png"></div>
        <div class="cell head three"><img src="img/movistar.png"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell three"><%= col1 %></div>
        <div class="cell three"><%= col11 %></div>
        <div class="cell three"><%= col12 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell three"><%= col2 %></div>
        <div class="cell three"><%= col21 %></div>
        <div class="cell three"><%= col22 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell three"><%= col3 %></div>
        <div class="cell three"><%= col31 %></div>
        <div class="cell three"><%= col32 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell three"><%= col4 %></div>
        <div class="cell three"><%= col41 %></div>
        <div class="cell three"><%= col42 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell three"><%= col5 %></div>
        <div class="cell three"><%= col51 %></div>
        <div class="cell three"><%= col52 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell three"><%= col6 %></div>
        <div class="cell three"><%= col61 %></div>
        <div class="cell three"><%= col62 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell three"><%= col7 %></div>
        <div class="cell three"><%= col71 %></div>
        <div class="cell three"><%= col72 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell three"><%= col8 %></div>
        <div class="cell three"><%= col81 %></div>
        <div class="cell three"><%= col82 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/promes.svg"></div>
        <div class="cell three"><%= col9 %></div>
        <div class="cell three"><%= col91 %></div>
        <div class="cell three"><%= col92 %></div>
    </div>

    <div class="row">

        <div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>

        </div>



        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img src="https://www.tigounetrainers.com/wp-content/uploads/2017/07/Benchmark-pospago.png" width="100%">
            </div>
        </div>
    </div>

</script>

<script type="text/template" id="table-2col">

    <div class="row">
        <div class="cell-type head"></div>
        <div class="cell head"><img src="img/Tigoune.png"></div>
        <div class="cell head"><img src="img/claro.png"></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cargo.svg"></div>
        <div class="cell"><%= col1 %></div>
        <div class="cell"><%= col11 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/internet.svg"></div>
        <div class="cell"><%= col2 %></div>
        <div class="cell"><%= col21 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/minutos.svg"></div>
        <div class="cell"><%= col3 %></div>
        <div class="cell"><%= col31 %></div>
    </div>

    <div class="row">
        <div class="cell-type"></div>
        <div class="cell"><%= col4 %></div>
        <div class="cell"><%= col41 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img style="height: 25px" src="img/world.svg"></div>
        <div class="cell"><%= col5 %></div>
        <div class="cell"><%= col51 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/beneficio.svg"></div>
        <div class="cell"><%= col6 %></div>
        <div class="cell"><%= col61 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/infinito.svg"></div>
        <div class="cell"><%= col7 %></div>
        <div class="cell"><%= col71 %></div>
    </div>

    <div class="row">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell"><%= col8 %></div>
        <div class="cell"><%= col81 %></div>
    </div>

    <div class="row footer">
        <div class="cell-type"><img src="img/cug.svg"></div>
        <div class="cell"><%= col9 %></div>
        <div class="cell"><%= col91 %></div>
    </div>

    <div class="row">

        <div class="lightbox-button">
            <div class="button-call-action">Beneficios</div>

        </div>



        <div id="openModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" class="close">X</a>
                <img src="https://www.tigounetrainers.com/wp-content/uploads/2017/07/Benchmark-pospago.png" width="100%">
            </div>
        </div>
    </div>




</script>

<script type="text/template" id="swiper_mobile">

    <div class="swiper-container">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide" style="background: gray" data-index="0" data-valor="une">TigoUne</div>
            <div class="swiper-slide" style="background: blue" data-index="1" data-valor="claro">Claro</div>
            <div class="swiper-slide" style="background: red" data-index="2" data-valor="movistar">Movistar</div>
            <div class="swiper-slide" style="background: red" data-index="2" data-valor="movistar">Avantel</div>

        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>


        <!--termina contenido y cierra swiper-->
    </div>

</script>

<script id="item" type="text/template">

    <li class="select" data-valor="<%= productName %>" data-brand="<%= tipo %>" data-id="<%= id %>"><%= productName %></li>

</script>

<script id="list" type="text/template">

    <div class="<%= className %>">
        <a class="indice inner" href="#0"><span id="<%= Name %>span" class="span-arrow in" data-valor="selecciona">Selecciona <%= sel %></span></a>

        <div class="topics inner">
            <ul id="<%= Name %>" data-valor="<%= Name %>" class="contenido">
                <%= items %>
            </ul>
        </div>
    </div>


</script>


<script id="oneitem" type="text/template">

    <a class="indice inner"><%= sel %></a>

</script>

<script id="radio" type="text/template">

    <div class="radio-container">
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" data-valor="<%= tec %>"><%= tec %></label>
        </div>
    </div>

</script>


<script id="item_plan" type="text/template">

    <div class="item_container">
        <div class="icon_item_plan"><img src="<%= icon %>"></div>
        <div class="description_item_plan"><span class="description_item_plan_text"><%= description %></span></div>
    </div>

</script>

<script id="min_item_plan" type="text/template">

    <div class="item_container">
        <div class="double_icon_item_plan"><img src="<%= icon %>"></div>
        <div class="double description_item_plan"><span class="description_item_plan_text"><%= description %></span></div>
        <div class="double description_item_plan"><span class="description_item_plan_text"><%= description2 %></span></div>
    </div>

</script>


<script id="servicios" type="text/template">

    <div class="tittle-servicios"><%= tittle %></div>

</script>

<script id="servicios-item" type="text/template">

    <div class="item-servicios"><%= item %></div>

</script>

<script id="empty" type="text/template">

    <div class="finalitem"></div>

</script>

<script id="group_button" type="text/template">

    <div class="group" data-valor="<%= group %>">PLAZAS EN QUE APLICA</div>

</script>

<script id="adicionales" type="text/template">

    <div class="buttonAdds" data-valor="<%= id %>"><%= nombre %></div>

</script>
<!---->
<!---->
<!---->
<!---->
<!---->
<!---->
<!--end templates-->

</body>

<script src="js/jquery-3.1.0.min.js"></script>
<script src="dist/js/swiper.jquery.min.js"></script>
<script src="js/js.cookie.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/main.js"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/material.min.js"></script>
<script src="assets/js/material-kit.js" type="text/javascript"></script>


</html>
