$mainBlue: rgb(16, 53, 127);
$darkBlue: rgb(0,27,64);
$aquaBlue: rgb(67, 199, 244);
$semiWhite: rgb(245, 245, 245);
$lightGray: rgb(234, 234, 234);
$lightGray1: rgb(213, 213, 213);
$gray: rgb(123, 123, 123);
$darkGray: rgb(96, 96, 96);